* {
    box-sizing: border-box;
}

body {
    background-color: #232020;
    font-family:Arial, Helvetica, sans-serif;
}

.filme {
    border: 1px solid #fff;
    border-radius: 5%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 8px 10px #000;

}

.filme img {
    width: 100%;
    margin-bottom:10px;
    border-radius: 5%;
    
}